.header {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;

  .header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 200px;
    .header__blockLogo {
      margin: 40px 0 40px 40px;
      cursor: pointer;
    }
    @media (max-width: 780px) {
      .header__blockLogo {
        margin: 20px 0 20px 20px;
      }
    }
    @media (max-width: 640px) {
      .header__blockLogo {
        margin: 20px 0 30px 10px;
      }
      .header__blockLogo img {
        width: 70px;
        height: 70px;
      }
    }
    .header__menu {
      display: flex;
      .menu__item {
        cursor: pointer;
        margin: 0 40px 0 0;
        .menu__buttonReg {
          background: #FFFFFF;
          padding: 11px 28px;
          font-weight: 500;
          font-size: 14px;
          line-height: calc(20 / 14 * 100%);
          text-align: center;
          color: #156963;
          border: 1px solid #FFFFFF;
          min-height: 28px;
          letter-spacing: 0.2px;
          transition: all 0.3s ease 0s;
          border-radius: 10px;
        }
        .menu__buttonReg:hover {
          background: #156963;
          color: #FFFFFF;
          border: 1px solid #156963;
        }
        .menu__buttonLogIn {
          background: #156963;
          padding: 13px 33px;
          font-weight: 500;
          font-size: 14px;
          line-height: calc(20 / 14 * 100%);
          text-align: center;
          color: #FFFFFF;
          border: 1px solid #FFFFFF;
          border-radius: 10px;
          letter-spacing: 0.2px;
          transition: all 0.3s ease 0s;
        }
        .menu__buttonLogIn:hover {
          background: #FFFFFF;
          color: #156963;
          border: 1px solid #156963;
        }
      }
    }
  }
  @media (max-width: 640px) {
    .header__container {
      flex-direction: column;
      .header__menu {
        flex-direction: column;
        margin: 0 0 40px 0;
        .menu__item {
          text-align: center;
          margin: 0 0 40px 0;
        }
      }
    }
  }
}
